---
import { formatDate } from "../lib/format";

const { post } = Astro.props;
---

<article class="entry">
  <div class="meta">
    <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
  </div>
  <h3><a href={`/blog/${post.slug}/`}>{post.data.title}</a></h3>
  <p>{post.data.summary}</p>
  {post.data.tags.length > 0 && (
    <ul class="tag-list" aria-label="Tags">
      {post.data.tags.map((tag: string) => (
        <li>{tag}</li>
      ))}
    </ul>
  )}
</article>
